<p>Volverse organizado se siente mejor con open spaces</p>
<section>
  <article>
    <img src="./assets/images/icon_1.png" alt="icon1" />
    <h2>Lo que necesitas</h2>
    <h2>Una linea de productos diseñados para todos tus espacios</h2>
  </article>

  <article>
    <img src="./assets/images/icon_2.png" alt="icon2" />
    <h2>Materia primas sustentables</h2>
    <h3>Todos los productos con materias primas sustentables</h3>
  </article>

  <article>
    <img src="./assets/images/icon_3.png" alt="icon3" />
    <h2>Guía</h2>
    <h2>Soporte y asesoramiento para ayudarte con tu objetivo</h2>
  </article>
</section>
