<main class="article">
  <p class="text1">Volverse organizado se siente mejor con OPEN SPACES</p>
  <section>
    <article>
      <img class="icon" src="./assets/images/icon_1.png" alt="icon1" />
      <h2 class="text2">Lo que necesitas</h2>
      <h2 class="text3">
        Una linea de productos diseñados para todos tus espacios
      </h2>
    </article>

    <article>
      <img class="icon" src="./assets/images/icon_2.png" alt="icon2" />
      <h2 class="text2">Materia primas sustentables</h2>
      <h3 class="text3">
        Todos los productos con materias primas sustentables
      </h3>
    </article>

    <article>
      <img class="icon" src="./assets/images/icon_3.png" alt="icon3" />
      <h2 class="text2">Guía</h2>
      <h2 class="text3">
        Soporte y asesoramiento para ayudarte con tu objetivo
      </h2>
    </article>
  </section>
</main>
