<div class="footer">
  <div>
    <p class="tittle">Tienda</p>
    <ul class="tittle__list">
      <li>productos</li>
      <li>Cajoneras</li>
      <li>Para toda la casa</li>
      <li>Habitaciones</li>
    </ul>
  </div>
  <div>
    <p class="tittle">Nosotros</p>
    <ul class="tittle__list">
      <li>Nuestra Guía</li>
      <li>Nuestro diseño</li>
      <li>Nuestra Historia</li>
      <li>Ayuda</li>
    </ul>
  </div>
  <div>
    <p class="tittle">Contacto</p>
    <ul class="tittle__list">
      <li>ayuda@openspaces.com</li>
      <li>Socios</li>
    </ul>
  </div>
  </div class="rrss" >
  <img src="./assets/images/iconlinkedin.png" alt="iconlinkedin" />
  <img src="./assets/images/iconinsta.png" alt="instagram" />
  <img src="./assets/images/icontwe.png" alt="twiter" />
  flecha
  </div>
</div>
