<div class="footer">
  <div>
    <p class="tittle">Tienda</p>
    <ul class="tittle__list">
      <!--li>productos</li>-->
      <a href="https://adalab.es/" class="tittle__list">Productos</a>
      <!--li>Cajoneras</li>-->
      <a href="https://adalab.es/" class="tittle__list">Cajoneras</a>
      <!--li>Para toda la casa</li>-->
      <a href="https://adalab.es/" class="tittle__list">Para toda la casa</a>
      <!--li>Habitaciones</li>-->
      <a href="https://adalab.es/" class="tittle__list">Habitaciones</a>
    </ul>
  </div>
  <div>
    <p class="tittle">Nosotros</p>
    <ul class="tittle__list">
      <!--li>Nuestra Guía</li>-->
      <a href="https://adalab.es/" class="tittle__list">Nuestra Guía</a>
      <!--li>Nuestro diseño</li>-->
      <a href="https://adalab.es/" class="tittle__list">Nuestro diseño</a>
      <!--li>Nuestra Historia</li>-->
      <a href="https://adalab.es/" class="tittle__list">Nuestra Historia</a>
      <!--li>Ayuda</li>-->
      <a href="https://adalab.es/" class="tittle__list">Ayuda</a>
    </ul>
  </div>
  <div>
    <p class="tittle">Contacto</p>
    <ul class="tittle__list">
      <li>ayuda@openspaces.com</li>
      <li>Socios</li>
    </ul>
  </div>
  <!-- RDV ini
  </div class="rrss" >
  <img src="./assets/images/iconlinkedin.png" alt="iconlinkedin" />
  <img src="./assets/images/iconinsta.png" alt="instagram" />
  <img src="./assets/images/icontwe.png" alt="twiter" />
  flecha
  </div>
  RDV fin-->
</div>
