<div class="footer">
  <div>
    <p class="footer__tittle">Tienda</p>
    <ul class="footer__tittle--list">
      <li>productos</li>
      <li>Cajoneras</li>
      <li>Para toda la casa</li>
      <li>Habitaciones</li>
    </ul>
  </div>
  <div>
    <p class="footer__tittle">Nosotros</p>
    <ul class="footer__tittle--list">
      <li>Nuestra Guía</li>
      <li>Nuestro diseño</li>
      <li>Nuestra Historia</li>
      <li>Ayuda</li>
    </ul>
  </div>
  <div>
    <p class="footer__tittle">Contacto</p>
    <ul class="footer__tittle--list">
      <li>ayuda@openspaces.com</li>
      <li>Socios</li>
    </ul>
  </div>
  imagen Linkedin imagen intagram imagen twiter flecha
</div>
