.footer {
  background-color: #0c474b;
  color: #b6c8c9;
  padding: 56px 59px 146px 56px;
  justify-content: center;
}

.tittle {
  color: #b6c8c9;
  font-size: 20px;
  font-family: Poppins;
  font-weight: bold;

  &__list {
    color: #b6c8c9;
    font-size: 14px;
    font-family: Poppins;
    list-style: none;
  }
}
