.footer {
  background-color: #0c474b;
  color: #b6c8c9;
  margin: auto;
  /*margin: 304px 1px 0 0;*/
  padding: 56px 28px 16px 146px;

  @media all and (min-width: 768px) {
    display: flex;
  }
}

.tittle {
  color: #b6c8c9;
  font-size: 20px;
  font-family: Poppins;
  font-weight: bold;

  &__list {
    color: #b6c8c9;
    font-size: 14px;
    font-family: Poppins;
    list-style: none;
    display: block;
  }
}
