.footer {
  background-color: #ff975a;
  color: black;
  margin: auto;
  /*margin: 304px 1px 0 0;*/
  padding: 45px 28px 45px 146px;

  @media all and (min-width: 768px) {
    display: flex;
  }
  @media all and (min-width: 1200px) {
    justify-content: space-around;
  }
}

.tittle {
  color: black;
  font-size: 20px;
  font-family: Poppins;
  font-weight: bold;

  &__list {
    color: black;
    font-size: 14px;
    font-family: Poppins;
    list-style: none;
    display: block;
  }
}
@media all and (min-width: 768px) {
  .newfooter {
    color: red;
    font-size: 20px;
    font-family: Poppins;
    font-weight: bold;
  }
}
