.spacegrey {
  background-color: #f0ebe5;
  padding: 87px 27px 140px 27px;
  /*width: 100vh;
  width: 414px;
  height: 304px;*/
  text-align: center;
}

.Tittlegrey {
  color: #0c474b;
  font-family: Poppins;
  font-size: 20px;
  margin: auto;

  &__subtittlegrey {
    color: #0c474b;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
  }
}
.buttom {
  background-color: #0c474b;
  padding: 12px 24px 12px 24px;
  color: #f0ebe5;
  font-family: Poppins;
  font-weight: bold;
}

.imgcreate {
  width: 375px;
  height: 300px;
}
