.main {
  background-color: #f0ebe5;
  text-align: center;
}

.text1 {
  color: #0c474b;
  font-size: 20px;
  font-weight: bold;
  font-family: Poppins;
  text-align: center;
  padding: 41px 45px 0 41px;
  margin: auto;
}

.text2 {
  color: #0c474b;
  text-align: center;
}

.text3 {
  color: #0c474b;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  padding: 0px 45px 0 41px;
}

@media all and (min-width: 768px) {
  .section {
    display: flex;
    padding: 35px;
  }
}
