.orange {
  background-color: #ff975a;

  padding: 46px 0px 51px 0px;
  text-align: center;
  margin: auto;
}

.tittleo {
  font-family: Poppins;
  font-weight: bold;

  @media all and (min-width: 768px) {
    font-size: 30px;
  }

  &__sub {
    font-family: Poppins;
  }
}
.buttomo {
  font-family: Poppins;
  color: white;
}
