/*
@import 'core/variables';
@import 'core/reset';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/

:root {
  color: #f0ebe5;
  color: #ff975a;
  color: #0c474b;
  color: #b6c8c9;
  color: #ffffff;
}
@import './layout/footer';
@import './layout/spaceGrey';
@import './layout/article';
@import './layout/spaceorange';
@import './layout/header';
